* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lavender;
  }

  :root {
    --dark: darkslateblue;
    --med: slateblue;
    --light: aliceblue; 
  }
  

header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.viewScores {
    color: var(--med);
    cursor: pointer;
}

main {
    margin: 0 15vw;
}
.bigText {
    text-align: center;
}

.smallText {
    text-align: center;
}

.btnWrapper{
    text-align: center;
    display:block;
}

button{
    background-color: var(--dark);
    color: white;
}
button:hover{
    background-color: var(--med);
}

.listItem{
    font-size: 20px;
    background-color: var(--dark);
    color: var(--light);
    margin: 10px;
    border-radius: 6px;
    cursor: default;
}

.scoreItem{
    background-color: var(--med);
    color: var(--light);
}

.listItem:hover {
    background-color: var(--med);
}

.answer {
    color:rgb(136, 128, 188);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.scoresheetButtons {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.scoresBtn {
    padding: 5px;
    cursor: pointer;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
}

.scoresBtn:hover {
    color: var(--med);
}

ol {
    padding-left: 0;
}